{% extends 'accueil.html.twig' %}

{% block title %}Agents{% endblock %}

{% block body %}
    <div class="container col-md-12 mt-5">
        <div class="card bg-transparent">
            {% for message in app.flashes('notice') %}
                <div class="card-header flash-notice alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="card-header bg-dark text-light text-left">
                <a class="btn btn-light" href="{{ path('add_agent',{'id': 0}) }}"><i class="fa fa-plus"></i></a>
                Liste des Agents
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>nom</th>
                        <th>prenom</th>
                        <th>telephone</th>
                        <th>Actions</th>
                    </tr>
                    {% for a in agents %}
                        <tr>
                            <td>{{ a.nom }} </td>
                            <td>{{ a.prenom }} </td>
                            <td>{{ a.telephone }} </td>
                            <td>
                                <a class="btn btn-info" href="{{ path('add_agent',{'id':a.id} ) }}"><i class="fa fa-edit"></i></a>
                                {% if a.biens|length == 0 and a.operations|length == 0%}
                                    <a class="btn btn-danger" href="{{ path('delete_agent',{'id':a.id} ) }}"><i class="fa fa-trash"></i></a></td>
                                {% endif %}
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
